@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: 240 10% 3.9%;
    --background: 0 0% 100%;
  }
  .dark {
    --foreground: 0 0% 98%;
    --background: 240 10% 3.9%;
  }

  body {
    /* Use direct CSS variables */
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
    min-height: 100vh;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  
  html {
    @apply scroll-smooth;
  }
  
  h1, h2, h3, h4 {
    @apply font-bold tracking-tight;
  }
  
  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }
  
  h2 {
    @apply text-3xl sm:text-4xl;
  }
}